@use '../base/' as *;

.header {
  padding: 10px 0;
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 0;
    gap: 12px;
  }
  &-title {
    font-size: 18px;
  }
  &-subtitle {
    color: $color-green;
  }
  border-bottom: 1px solid $color-grey-light;
}
