@use '../base/' as *;

.sidebar {
  width: 35%;
  padding-right: 35px;
  border-right: 1px solid $color-grey-light;
  &-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (max-width: $lg) {
    width: 100%;
  }
}
