@use '../base/' as *;

.avatar {
  position: relative;
  width: 36px;
  height: 36px;

  &-xl {
    width: 42px;
    height: 42px;
  }

  .avatar-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .avatar-status {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: #4caf50;
    border: 2px solid white;
    border-radius: 50%;
  }
}
