@use '../base/' as *;

.btn {
  &-primary {
    width: 100%;
    background-color: $color-secondary;
    padding: 16px 0;
    text-align: center;
    font-size: $font-size-base;
    color: $color-primary;
    border-radius: $border-radius-base;
    border: none;
    margin-top: 18px;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}
