@use '../base/' as *;

.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  &-left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &-image {
    margin-right: 12px;
  }
  &-content {
    display: flex;
    flex-direction: column;
    font-size: $font-size-sm;
    line-height: 0;
    margin-right: 35px;
  }
  &-title {
    color: $color-black;
    font-size: $font-size-md;
  }
  &-desc {
    color: $color-grey;
  }
}

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 20px;
  height: 20px;
  padding: 0 6px;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  background-color: #e63946;
  border-radius: 9999px;
  line-height: 1;
  top: -4px;
  right: -4px;
  box-shadow: 0 2px 6px rgba(237, 39, 39, 0.637);
}
