@use '../base/' as *;

.chat-detail {
  display: flex;
  flex-direction: row;
  gap: 9px;
}
.chat-message {
  padding: 12px 18px;
  border-radius: $border-radius-base;
  background-color: $color-grey-light;
  max-width: 40%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.chat-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.chat-status {
  color: $color-green;
}

.chat-detail.chat-send {
  display: flex;
  flex-direction: row-reverse;
  .chat-message {
    background-color: rgb(119, 119, 230);
  }
}
