@use '../base/' as *;

.form-control {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex: 1;
}

.form-label {
  color: $color-black;
  font-size: $font-size-sm;
}

.form-input {
  color: $color-grey;
  font-size: $font-size-xs;
  padding: 18px 12px;
  border-radius: $border-radius-base;
  border: 1px solid $color-grey-dark;

  &:focus-within {
    border-color: $color-secondary;
  }
}

.input {
  background: none;
  border: none;
  outline: none;
  &:focus {
    background: none;
    border: none;
  }
}
